<a href="https://colab.research.google.com/github/jojaeyeoul/serverless/blob/main/512_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 통계적 학습의 원리와 이해 II 시험 (2025)

1. 코딩/분석을 필요로 하는 문제의 경우 실행후 나온 결과값을 기반으로 Markdown Cell 에 결과값 해석 및 설명
2. 일반 문제의 경우 답안용 Markdown cell 에 그대로 편집해서 작성.  (답) 이라고 된 부분.

### 학번/이름 작성
- **학번**:
- **이름**:

## Q1. True/False Question: True/False와 그 이유도 함께 작성

1. 커널 밀도 추정(Kernel Density Estimation)에서 대역폭(bandwidth)이 증가하면 추정된 밀도 함수의 편향(bias)은 감소하고 분산(variance)은 증가한다.

(답):

2. 히스토그램 방법에서 구간(bin)의 수를 늘리면 항상 더 정확한 밀도 추정 결과를 얻을 수 있다.

(답):

3. 스플라인 회귀(spline regression)를 통해 나온 함수는 전체 구간에 걸쳐 하나의 연속적인 함수이다.

(답):

## Q2. True/False Question: True/False와 그 이유도 함께 작성

1.  Bagging은 항상 개별 모델의 성능보다 더 나은 성능을 보장한다.

(답):

2. Random Forest는 개별 트리들을 모두 섞어놓았기에 모델의 해석이 불가능하다.

(답):

3. Random Forest에서 각 트리는 전체 Feature Set에서 무작위 부분집합만을 사용한다.

(답):

4. 차원축소 방법은 모두 PCA와 같은 비지도학습 형태로 이루어진다.

(답):

## Q3. Function Estimation
함수 근사에서 기저 확장(basis expansion) 접근법과 피드포워드 신경망(feedforward neural network)의 관계를 설명하시오. 두 방법의 유사점과 차이점을 서술하고 Overfitting 문제가 어떤 상황에서 생기는지 설명, 그리고 각 방법의 장단점을 비교 분석하시오.

(답):

## Q4. 다음 상황을 고려하시오:
여러분은 온라인 쇼핑몰의 사기 거래를 탐지하는 시스템을 개발 중입니다. 이 시스템은 99% 정확도를 달성했지만, 실제 운영 시 성능이 좋지 않다는 평가를 받았습니다. 이런 상황이 발생할 수 있는 이유를 설명하고, 이를 해결하기 위한 방안을 제시하시오. (힌트: 클래스 불균형, 평가 지표, 비용 민감 학습 등을 고려하시오)

(답):

# Q5. Computing

**시나리오**

A사는 여러개의 생산 Line과 설비를 보유하고 있는 제조업체이다. 10대 이상의 생산설비에서 동일한 제품을 생산하고 있기 때문에 설비가 고장이 날 시 생산 계획에 큰 차질이 발생한다. 설비 고장은 다양한 원인에 의해서 발생하는데 센서 데이터에 이상 패턴으로 Failure mode기 발생하고, 이로 인해 설비의 작동이 정지한다. A사는 설비가 고장나는 특정 패턴을 찾고, 이 패턴이 발생할 가능성이 보인다면 사전에 점검을 통해서 조치 후 설비 고장을 방지하고, 생산 스케줄을 문제없이 운영하고 싶은 상황이다.

**Data**
|Column|Description|
|:---|:---|
|UDI|Unique Index|
|Product ID|생산하는 제품의 Sereial Number|
|Type|품질 산포, L(50%) / M(30%) / H(20%)|
|Air temperature [K]|공기온도|
|Process temperature [K]|가공온도|
|Rotational speed [rpm]|회전속도|
|Torque [Nm]|토크|
|Tool wear [min]|공구마모|
|Machine failure|기계 고장|
|TWF|툴 마모로 인한 알람, 200~240분 사이일시 고장발생|
|HDF|공기온도와 프로세스온도 차이가 8.6k 미만이고, 회전속도가 1380rpm 미만일시 고장발생|
|PWF|토크X회전속도 = 동력, 동력이 3500W 미만이거나 9000W 이상일 시 고장발생|
|OSF|공구마모와 토크의 곱이 11,000minNM을 초과할 시 고장 발생 (L product variant의 경우)|
|RNF|공정 모수에 관계없이 0.1%의 실패 확률로 고장발생|


뒷부분 ``Machine Failure`` 고장발생일 경우 1이며 세부사항은 ``HDF`` 부터 ``RNF`` 에서 세부 고장발생여부 사유를 확인할 수 있다 (이상패턴 사유). 고장 발생 사유는 두개 이상일 수 있다.

**Goal**

- Failure mode 분석을 통한 오류 원인 탐지 및 개선 활동 전개
- ``RNF``(Random Failure) 예측을 위한 설비고장 예측 모델링 수행

기대효과: 자주 발생하는 오류 원인 탐지 및 개선

In [ ]:
# import base libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# Load the data
df = pd.read_csv("exam_machine_failure.csv")
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [ ]:
# Machine failure 일 때 failure mode 확인
df[df['Machine failure']==1].head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
50,51,L47230,L,298.9,309.1,2861,4.6,143,1,0,0,1,0,0
69,70,L47249,L,298.9,309.0,1410,65.7,191,1,0,0,1,1,0
77,78,L47257,L,298.8,308.9,1455,41.3,208,1,1,0,0,0,0
160,161,L47340,L,298.4,308.2,1282,60.7,216,1,0,0,0,1,0
161,162,L47341,L,298.3,308.1,1412,52.3,218,1,0,0,0,1,0

In [ ]:
# Failure mode에 대한 정보
# UDI (key)를 통해 Join 가능
df_sensor = df.drop(['TWF', 'HDF', 'PWF', 'OSF', 'RNF'], axis=1)
df_mode = df[['UDI', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF']]

In [ ]:
df_mode.astype('category').describe()

          UDI    TWF    HDF    PWF    OSF    RNF
count   10000  10000  10000  10000  10000  10000
unique  10000      2      2      2      2      2
top         1      0      0      0      0      0
freq        1   9954   9885   9905   9902   9981

대부분 0인 것을 확인 할 수 있다.

In [ ]:
print((df['Machine failure']==1).mean())
print((df['RNF']==1).mean())

0.0339
0.0019

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

input_names = ['Type','Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]']
target_name = ['RNF'] # 원인파악이 되지 않은 랜덤 고장

X = df[input_names]
y = df[target_name].values.ravel()


# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20240811, stratify=y)

## Q5-1. Classification
**할 일**
- Random Forest, XGBoost, train 데이터를 통해 학습하시오. (튜닝 포함)
- 모델 학습 전 변수별 Scaling (유의사항: ``Type``은 Categorical 변수)

**Report**
- Test Error rate
- AUC-ROC, AUC-PR scores

**참고사항**
- (Optional, Extra point) LightGBM, CatBoost 을 활용한 학습: Categorical 변수 처리에 유의.
- 각 모델별 jupyter notebook cell 을 따로 만드시오. (Random Forest, XGBoost, LightGBM, CatBoost). 각 모델별로 채점함

In [ ]:
# 답

## Q5-2. Anomaly Detection

**할 일**
- target 변수를 활용하지 않은 채, ``X_train``을 통해 LOF, Isolation Forest를 통해 이상치 탐지 모델을 학습하시오. (튜닝 포함)
- 모델 학습 전 변수별 Scaling (유의사항: ``Type``은 Categorical 변수)

**Report**
- AUC-ROC, AUC-PR scores

**참고사항**
- 각 모델별 jupyter notebook cell 을 따로 만드시오. (LOF, Isolation Forest). 각 모델별로 채점함

In [ ]:
# 답